.h{
color: blue;
background-color: aquamarine;
border: 5px solid red;
border-radius: 20px;
text-align: center;
}
.l{
    color: rgb(22, 146, 53);
    font-size: 20px;
}




















